* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

#hero {
  height: 110vh;
  background-image: url(images/artist-top.svg);
  background-color: #fbf9fe;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -6%;
}
.artist-hero-text {
  width: 50%;
}
.artist-hero-img {
  width: 50%;
  margin-left: 20px;
}
.artist-hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.artist-hero-content h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 57px;
  color: #ffffff;
  margin-top: -150px;
}
.artist-hero-content span {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.5);
}
/**********navbar************/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 88px 0 88px;
  padding-top: 9%;
}
.nav-links li {
  display: inline-block;
  padding-right: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 25px;
}
.artist-join-btn a {
  padding: 8px 25px;
  margin-right: -25px;
  color: #6759ff !important;
  background-color: #ffffff;
  border-radius: 5px;
}
/**********trusted-by************/
#trusted-by {
  background: #fdf7fc;
}
.trusted-logos {
  padding: 89px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/**********about-block************/
#about-block {
  padding: 90px;
}
.about-right {
  width: 50%;
}
.about-right h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.018em;
  color: #49214d;
  margin-bottom: 30px;
}
.about-right p {
  font-size: 26px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #49214d;
  opacity: 0.4;
  margin-bottom: 60px;
}
.about-right a {
  /* text-decoration: none;
  padding: 15px 35px 18px 35px;
  background: #fbf9fe;
  border: 1px solid rgba(73, 33, 77, 0.6);
  font-size: 20px;
  line-height: 29px;
  color: rgba(73, 33, 77, 0.7);
  border-radius: 6px; */
  display: none;
}
.about-left img {
  /* margin-right: 50px; */
  width: 95%;
}
.about-content , .about-content-1 , .about-content-2 , .about-content-3 , .about-content-4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/**********what we offer************/
#offer {
  padding: 110px 88px;
  background-color: #fbf9fe;
}
#offer h2,
#work h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  letter-spacing: 0.018em;
  margin-bottom: 90px;
}
.offer-cards,
.work-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
#offer .offer-icons img,
#work .work-icons img {
  margin-bottom: 40px;
  height: 55px;
}
#offer h4,
#work h4 {
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 10px;
}
#offer p,
#work p {
  width: 238px;
  height: 87px;
  top: 41px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
  color: #000000;
  opacity: 0.3;
}
/**********how this works************/
#work {
  padding: 110px 88px;
}
/**********get started************/
#get-started {
  padding: 80px 0 110px 0;
  background: #fbf9fe;
}
.get-started-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.get-started-text {
  text-align: center;
}
.get-started-text h3 {
  font-weight: 600;
  font-size: 33px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #555367;
  margin-bottom: 10px;
}
.get-started-text p {
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  opacity: 0.3;
  margin-bottom: 60px;
}
.get-started-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.get-started-btn a {
  text-decoration: none;
  padding: 15px 40px 17px 40px;
  color: #ffffff;
  background: #6759ff;
  font-size: 20px;
  line-height: 30px;
  border-radius: 6px;
}
/**********footer************/
#footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding: 110px 88px 88px 88px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  margin-bottom: 22px;
}
#footer a {
  text-decoration: none;
  color: #a98fa5;
}
.footer-head {
  font-weight: 500;
  color: #49214d !important;
  margin-bottom: 40px;
}
/**********copyrights************/
#copyright {
  background: #fdf7fc;
  padding: 39px 0 42px 88px;
}
.copyright-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#copyright a {
  text-decoration: none;
  color: #49214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-right: 40px;
}
#copyright p {
  color: #49214d;
  opacity: 0.5;
  font-size: 20px;
  line-height: 29px;
  margin: 0;
}

@media screen and (max-width: 1366px) {
  .after-about-card {
    width: 360px;
  }
  .artist-hero-content {
    padding: 0 110px;
  }
}
@media screen and (min-width: 1600px) {
  .container-main {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .container-main {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  /*************Main Container**************/
  .container-main {
    width: 90%;
    margin: 0 auto;
  }
  /**********about-block************/
#about-block {
  padding: 40px 0;
}
.about-right {
  width: 100%;
}
.about-right h2 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}
.about-right p {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about-left img {
  /* margin-right: 50px; */
  width: 100%;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-content-2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}
.about-content-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}
.about-content-4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}

  /**********what we offer************/
  #offer,
  #work {
    padding: 45px 0 0 0;
  }
  #offer h2,
  #work h2 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .offer-cards,
  .work-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: space-between;
  }
  #offer .offer-icons img,
  #work .work-icons img {
    margin-bottom: 0px !important;
    height: 30px;
  }
  #offer h4,
  #work h4 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  #offer p,
  #work p {
    width: 100%;
    top: 0px !important;
    font-size: 12px;
    line-height: 14px;
  }
  /*************Trusted Logos**************/
  .trusted-logos {
    padding: 30px 0;
  }
  .trusted-logos img {
    width: 40px;
  }

  /**********get started************/
  #get-started {
    padding: 45px 0 60px 0;
  }
  .get-started-img img {
    width: 40%;
  }
  .get-started-text h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .get-started-text p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .get-started-btn a {
    text-decoration: none;
    padding: 7px 14px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
  }
  /**************footer***************/
  #footer {
    grid-template-columns: auto auto;
    padding: 40px 10px 18px 10px;
  }
  #footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-head {
    font-size: 14px;
    margin-bottom: 20px;
  }
  /**************Copyrights***************/
  #copyright {
    padding: 10px 0;
  }
  #copyright a {
    font-size: 14px;
    margin-right: 20px;
  }
  #copyright p {
    font-size: 12px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1350px) {
  /*************Main Container**************/
  .container-main {
    width: 80%;
    margin: 0 auto;
  }
  /**********trusted-by************/
.trusted-logos {
  padding: 80px 0;
}
.trusted-logos img{
  width: 70px;
}
/**********about-block************/
#about-block {
  padding: 80px 0;
}
.about-right {
  width: 50%;
}
.about-right h2 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}
.about-right p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
}
.about-left img {
  /* margin-right: 50px; */
  width: 95%;
}

/**********what we offer************/
#offer {
  padding: 80px 0;
}
#offer h2,
#work h2 {
  margin-bottom: 70px;
}
.offer-cards,
.work-cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
  justify-content: space-between;
}
#offer .offer-icons img,
#work .work-icons img {
  margin-bottom: 40px;
  height: 55px;
}

/**********how this works************/
#work {
  padding: 80px 0;
}

  /**********get started************/
  #get-started {
    padding: 80px 0;
  }

  /**************footer***************/
  #footer {
    grid-template-columns: auto auto auto;
    padding: 80px 0 58px 0;
    /* margin-bottom: 500px; */
  }
  #footer ul li {
    margin-bottom: 10px;
    /* font-size: 12px; */
  }
  .footer-head {
    /* font-size: 12px; */
    margin-bottom: 22px;
  }
  /**************Copyrights***************/
  #copyright {
    padding: 20px 0;
  }
}
/* @media screen and (max-width: 320px){
 
} */
